.space__navbar {
    position: absolute;
    width: 100%;
    padding: 2.5rem 0 0 3.438rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space__navbar_logo {
    padding: 1rem;
}

.space__navbar_line {
    width: 100%;
    border-top: 1px solid white;
    opacity: 0.25;
    transform: translateX(5%);
    z-index: 2;
}

.space__navbar button { 
    display: none;
}

.space__navbar_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0 9rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.space__navbar_container p {
    padding: 1.5rem 0;
    border: 2px solid transparent;
    font-size: 16px;
    font-family: var(--font-family-sub);
    letter-spacing: 2.7px;
    color: var(--color-white);
    
}

.space__navbar_container p:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.focus{
    border-bottom: 2px solid rgba(255, 255, 255);
}

.space__navbar_container p span {
    color: var(--color-white);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-family-sub);
    padding-right: 0.5rem;
}

@media screen and (max-width: 1050px){

    .space__navbar{
        padding: 0rem 0 0 3.438rem;
    }
    
    .space__navbar_line {
        display: none;
    }

    .space__navbar_container {
        padding: 0 3rem;
    }

    .space__navbar_container p {
        padding: 2rem 0;
    }

    .space__navbar_container p span{
        display: none;
    }

}

@media screen and (max-width: 40rem) {

    .space__navbar {
        padding: 0;
    }

    .space__navbar_logo img{
        width: 40px;
    }

    .space__navbar button{
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        z-index: 101;
        margin: 1rem;
    }
    .space__navbar_container{
        display: none; 
    }
    .space__navbar_container-mobile{
        position: fixed;
        z-index: 100;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: var(--color-white);
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        transform: translateX(100%);
    }

    @keyframes slide_in {
        0% {transform: translateX(100%);}
        100% {transform: translateX(0%);}
    }

    .space__navbar_container-mobile p {
        padding: 1rem 0;
        border: 2px solid transparent;
        font-size: 16px;
        font-family: var(--font-family-sub);
        letter-spacing: 2.7px;
        color: var(--color-white);
    }
    
    .space__navbar_container-mobile p:hover{
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    }
    
    .space__navbar_container-mobile p span {
        color: var(--color-white);
        font-weight: bold;
        font-size: 16px;
        font-family: var(--font-family-sub);
        padding-right: 0.5rem;
    }
}